*.db
AI_CA1/.vs/AI_CA1/v15/.suo
*.tlog
*.log
*.lastbuildstate
*.pdb
*.idb
*.ilk
*.vcxproj
*.orig
*.ipch
*.obj
*.exe
AI_CA1/.vs/AI_CA1/v15/.suo
*.db
*.ipch
*.log
*.lastbuildstate
*.tlog
*.obj
*.exe
*.ilk
*.pdb
